.card-container {
    width: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    overflow: hidden;
    padding: 1%;
}

.card-image {
    /* ep iamge trong mot khung*/
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.card-title {
    font-weight: bold;
    margin-top: 10px;
}

.card-text {
    margin-top: 10px;
}

.card-button {
    margin-top: 10px;
    width: 100%;
}

.card-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2px 30px;
}

/* response home */
.card-container {
    width: 20%;
    margin: 1% 1%;
}

@media (max-width: 800px) {
    .card-container {
        width: 49%;
        margin: 1% 1px;
    }
}

@media (max-width: 576px) {
    .card-container {
        width: 100%;
        margin: 2% 0;
    }
}

 /* mau phan trang */
.pagination__link--active {
    background-color: green;
  }

